.ErrorDialogOuter {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.ErrorDialog {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    width: 30rem;
    height: 10rem;
    display: grid;
    background: #ffffff;
    position: absolute;
}
.Header {
    display: flex;
    justify-content: flex-end;
    height: 2rem;
}
.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 6rem;
}
.Footer {
    display: flex;
    height: 2rem;
}
.yes-button {
    width: -webkit-fill-available;
    background: #007eff;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
}
.no-button {
    width: -webkit-fill-available;
    background: #d44503;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
}
.yes-button:hover {
    background: #9fcbf7;
    color: #0059ff;
}
.no-button:hover {
    background: #fcac87;
    color: #d44503;
}
.close-button {
    border: 0px solid;
    border-radius: 20px;
    background-color: #e5e5e5;
}
.close-button:hover {
    background: #acaaaa;
    color: #050505;
}
